@media screen and (max-width: 1199px) {
    .lc-header {
        aside {
            .lc-sidebar {
                ul {
                    transform: translateX(-5px);
                }
            }
        }
    }
    .main {
        padding: 0px 20px;
        .lc-about {
            padding: 100px 0;
        }
    }
}
@media screen and (max-width: 767px) {
    .lc-header {
        header {
            .lc-container {
                .lc-title-section {
                    .lc-title {
                        h1 {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    .main {
        padding: 0px 20px;
        .lc-about {
            padding: 50px 0;
            .lc-container {
                .row { 
                    padding: 0 0.5rem;
                    .lc-foto {
                        padding: 0;
                    }
                    .lc-text-about {
                        padding: 2rem 0;
                        h2 {
                            text-align: left;
                        }
                        .lc-about-me {
                            p {
                                font-size: 30px;
                                padding: 0px;
                            }
                        }
                    }
                }
            }
        }
        .lc-skills {
            padding: 50px 0;
            .lc-container {
                .row { 
                    padding: 0 0.5rem;
                }
                .lc-title-skills {
                    padding-left: 0;
                    padding-bottom: 0.5rem;
                    h2 {
                        margin-bottom: 0px;
                    }
                }
                .lc-about-skills {
                    font-size: 30px;
                    padding: 0;
                }
            }
        }
        .lc-portfolio {
            padding: 50px 0;
            .lc-container {
                .lc-portfolio-title {
                    padding-left: 0.5rem;
                    padding-bottom: 0.5rem;
                }
                .lc-portfolio-content {
                    padding-left: 0.5rem;
                    .lc-portfolio-project {
                        padding-bottom: 3rem;
                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        .lc-contact {
            padding: 50px 0;
            .lc-contact-title {
                padding-left: 0.5rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .lc-header {
        header {
            .lc-container {
                .lc-title-section {
                    .lc-title {
                        h1 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .main {
        .lc-about {
            .lc-container {
                .row { 
                    .lc-text-about {
                        .lc-about-me {
                            p {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        .lc-skills {
            .lc-container {
                .lc-about-skills {
                    font-size: 20px;
                }
            }
        }
        .lc-portfolio {
            padding: 50px 0;
            .lc-container {
                .lc-portfolio-project {
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
        .contact {
            .content {
                p {
                    font-size: 20px;
                }
                .contact-mail {
                    padding: 10px 0;
                    a {
                        text-decoration: underline;
                        font-size: 20px;
                    }
                }
            }
        }
        .lc-contact {
            padding: 50px 0;
            .lc-contact-title {
                p {
                    font-size: 20px;
                }
            }
            .lc-contact-mail {
                a {
                    text-decoration: underline;
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .lc-header {
        header {
            .lc-container {
                .lc-title-section {
                    .lc-title {
                        h1 {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .main {
        .lc-about {
            .lc-container {
                .row { 
                    .lc-text-about {
                        .lc-about-me {
                            p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
        .lc-skills {
            .lc-container {
                .lc-about-skills {
                    font-size: 18px;
                }
            }
        }
        .lc-portfolio {
            padding: 50px 0;
            .lc-container {
                .lc-portfolio-project {
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
        .lc-contact {
            .lc-contact-title {
                p {
                    font-size: 18px;
                }
            }
            .lc-contact-mail {
                a {
                    font-size: 18px;
                }
            }
        }
    }
}
