* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.content {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  80% {
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  80% {
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  width: 100%;
}

header .menu {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: fixed;
  z-index: 20;
  transition: background-color 0.4s ease-out;
  padding: 0px 155px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: fadeInDown 0.75s ease-in-out;
          animation: fadeInDown 0.75s ease-in-out;
}

header .menu a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  padding: 25px 20px;
  font-weight: 300;
  font-size: 16px;
}

header .menu a::before {
  content: "";
  display: block;
  height: 1.5px;
  width: 0%;
  background-color: #000;
  position: relative;
  transition: all ease-in 250ms;
  top: 25px;
}

@media all and (min-width: 900px) {
  header .menu a:hover::before {
    width: 90%;
  }
}

header .menuScroll {
  background-color: #000;
}

header .menuScroll a {
  color: #fff;
}

header .menuScroll a::before {
  background-color: #fff;
}

header .content {
  height: 100vh;
  min-height: 700px;
}

header .content .title {
  width: 100%;
  padding: 300px 0;
  text-align: right;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: fadeInRight 0.75s ease-in-out;
          animation: fadeInRight 0.75s ease-in-out;
}

header .content .title h1 {
  font-size: 40px;
  font-weight: 700;
}

header .content .sidebar {
  position: fixed;
  top: 40%;
  z-index: 0;
}

header .content .sidebar ul {
  list-style-type: none;
  padding: 0;
  transform: translateX(-130px);
}

header .content .sidebar ul li {
  display: block;
  background-color: transparent;
  text-align: left;
  padding: 10px;
  transition: all 1s;
  font-weight: 300;
  width: 200px;
}

header .content .sidebar ul li a {
  text-decoration: none;
  color: #000;
}

header .content .sidebar ul li a span {
  opacity: 0;
}

@media all and (min-width: 900px) {
  header .content .sidebar ul li a:hover span {
    opacity: 1;
    transition: all 1.5s;
  }
}

header .content .sidebar ul li a i {
  text-align: center;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  transform: rotate(0deg);
}

@media all and (min-width: 900px) {
  header .content .sidebar ul li a:hover i {
    color: #000;
    transform: rotate(360deg);
    transition: all 1.5s;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main .about {
  width: 100%;
  padding: 100px 0;
}

.main .about .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .about .content .foto {
  width: 48%;
  padding: 15px;
  transition: all 250ms;
}

.main .about .content .foto img {
  border-radius: 10px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media all and (min-width: 900px) {
  .main .about .content .foto:hover {
    padding: 10px;
  }

  .main .about .content .foto:hover img {
    box-shadow: 0 0 10px;
  }
}

.main .about .content article {
  width: 48%;
  align-self: stretch;
  text-align: justify;
  font-size: 24px;
  font-weight: 300;
  padding: 10px;
  position: relative;
}

.main .about .content article h2 {
  width: 100%;
  text-align: right;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

.main .about .content article .about-me {
  text-align: justify;
}

.main .about .content article .about-me p {
  padding: 10px 0px;
}

.main .skills {
  width: 100%;
  padding: 100px 0;
}

.main .skills .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .skills .content h2 {
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 50px;
}

.main .skills .content .about-skills {
  text-align: justify;
  width: 48%;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 50px;
  padding-top: 22px;
}

.main .skills .content ul {
  width: 48%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: circle;
  position: relative;
  left: 2.5%;
}

.main .skills .content ul li {
  width: 30%;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  margin: 25px auto;
}

.main .portfolio {
  width: 100%;
  padding: 100px 0;
}

.main .portfolio .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .portfolio .content h2 {
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 50px;
}

.main .portfolio .content .project {
  width: 30%;
  cursor: pointer;
}

.main .portfolio .content .project .foto {
  padding: 10px;
  transition: all 250ms;
  margin-bottom: 10px;
}

.main .portfolio .content .project .foto img {
  border-radius: 10px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main .portfolio .content .project h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.main .portfolio .content .project p {
  text-align: justify;
  font-size: 22px;
  margin-bottom: 10px;
}

.main .portfolio .content .project a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  display: inline-block;
}

.main .portfolio .content .project a::before {
  content: "";
  display: block;
  height: 1.75px;
  width: 0%;
  background-color: #000;
  position: relative;
  transition: all ease-in 250ms;
  top: 25px;
}

@media all and (min-width: 900px) {
  .main .portfolio .content .project:hover .foto {
    padding: 5px;
  }

  .main .portfolio .content .project:hover .foto img {
    box-shadow: 0 0 5px;
  }

  .main .portfolio .content .project:hover a::before {
    width: 90%;
  }
}

.main .contact {
  width: 100%;
  padding: 100px 0;
}

.main .contact .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main .contact .content h2 {
  width: 100%;
  text-align: left;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 50px;
}

.main .contact .content p {
  text-align: justify;
  width: 100%;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 50px;
}

.main .contact .content .contact-mail {
  width: 50%;
  text-align: center;
  padding: 25px;
}

.main .contact .content .contact-mail a {
  color: #000;
  font-size: 22px;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
}

.main .contact .content .contact-mail a::before {
  content: "";
  display: block;
  height: 2.5px;
  width: 0%;
  background-color: #000;
  position: relative;
  transition: all ease-in 250ms;
  top: 30px;
}

@media all and (min-width: 900px) {
  .main .contact .content .contact-mail a:hover::before {
    width: 90%;
  }
}

.main .contact .content .contact-media {
  width: 50%;
  text-align: center;
  padding: 25px;
}

footer {
  width: 100%;
  margin: 10px 0;
}

footer p {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  header .menu {
    width: 100vw;
    padding: 0;
  }

  header .content .title {
    padding: 300px 20px;
  }

  header .content .title h1 {
    font-size: 30px;
  }

  header .content .sidebar ul {
    transform: translateX(-5px);
  }

  .main {
    padding: 0px 20px;
  }

  .main .about {
    padding: 0px;
  }

  .main .about .content {
    flex-direction: column;
  }

  .main .about .content .foto {
    padding: 10px;
    width: 100%;
  }

  .main .about .content article {
    width: 100%;
  }

  .main .about .content article h2 {
    text-align: left;
    margin-bottom: 0px;
  }

  .main .about .content article p {
    position: -webkit-sticky;
    position: sticky;
    font-size: 30px;
    padding: 0px;
  }

  .main .skills {
    padding: 10px;
  }

  .main .skills .content {
    flex-direction: column;
  }

  .main .skills .content h2 {
    margin-bottom: 0px;
  }

  .main .skills .content ul {
    width: 100%;
  }

  .main .skills .content .about-skills {
    width: 100%;
    font-size: 30px;
    padding-top: 0px;
  }

  .main .portfolio {
    padding: 10px;
  }

  .main .portfolio .content {
    flex-direction: column;
  }

  .main .portfolio .content .project {
    width: 100%;
    margin-bottom: 45px;
  }

  .main .portfolio .content .project a {
    font-weight: bold;
  }

  .main .contact {
    padding: 10px;
  }

  .main .contact .content {
    flex-direction: column;
  }

  .main .contact .content h2 {
    margin-bottom: 20px;
  }

  .main .contact .content p {
    width: 100%;
  }

  .main .contact .content .contact-mail,
  .main .contact .content .contact-media {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  header .content .title h1 {
    font-size: 20px;
  }

  .main .about .content article p {
    font-size: 20px;
  }

  .main .skills .content .about-skills {
    font-size: 20px;
  }

  .main .skills .content ul {
    padding: 10px;
  }

  .main .portfolio .content .project p {
    font-size: 20px;
  }

  .main .contact .content p {
    font-size: 20px;
  }

  .main .contact .content .contact-mail {
    padding: 20px 0;
  }

  .main .contact .content .contact-mail a {
    text-decoration: underline;
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  header .content .title h1 {
    font-size: 18px;
  }

  .main .about .content article p {
    font-size: 18px;
  }

  .main .skills .content .about-skills {
    font-size: 18px;
  }

  .main .portfolio .content .project p {
    font-size: 18px;
  }

  .main .contact .content p {
    font-size: 18px;
  }

  .main .contact .content .contact-mail {
    padding: 20px 0;
  }

  .main .contact .content .contact-mail a {
    text-decoration: underline;
    font-size: 18px;
  }
}

